{{#each this}}
<li class="products-film" data-id='{{this.id}}'>
    <img srcset="" class="imgFilm" src="https://www.themoviedb.org/t/p/w300{{poster_path}}"
        alt="{{title}} | {{original_title}}" title="{{title}}" />
    <h3 class="products-name">{{title}}</h3>
    <div class="reyting-align">
        <p class="products-style">{{original_title}} | {{release_date}}</p>
        {{!-- <p class="reyting">{{vote_average}}</p> --}}
    </div>
</li>
{{/each}}