{{#each this}}
<li class="products-film" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
    <a href="" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
        <img srcset="" class="imgFilm" src="https://www.themoviedb.org/t/p/w300{{poster_path}}"
            alt="{{title}} | {{original_title}}" title="{{title}}" data-id='{{this.id}}'
            data-jsmodal='js-modal-onclick' /></a>
    <a href="" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
        <h3 class="products-name" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{title}}</h3>
    </a>
    <div class="reyting-align" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
        <p class="products-style" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{genres}} |
            {{release_date}}</p>
        {{!-- <p class="reyting">{{vote_average}}</p> --}}
    </div>
</li>
{{/each}}
