{{#each this}}
<li class="products-film" data-id='{{this.id}}' data-onclick='js-modal-onclick'>
    <img srcset="" class="imgFilm" src="{{}}" alt="{{}}"
         data-onclick='js-modal-onclick'
         data-id='{{this.id}}'
    />
    <h3 class="products-name" data-id='{{this.id}}' data-onclick='js-modal-onclick'>{{}}</h3>
    <div class="reyting-align" data-id='{{this.id}}' data-onclick='js-modal-onclick'>
        <p class="products-style" data-id='{{this.id}}' data-onclick='js-modal-onclick'>{{}}</p>
        <!-- <p class="reyting" data-id='{{this.id}}' data-onclick='js-modal-onclick'>{{}}</p> -->
    </div>
</li>
{{/each}}
