{{#each this}}
  <li class="products-film" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
    <img srcset="" class="imgFilm" src="{{this.poster_path}}" alt="{{this.original_title}}"
         data-jsmodal='js-modal-onclick' data-id='{{this.id}}' />
    <h3 class="products-name" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{this.title}}</h3>
    <div class="reyting-align" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>
      <p class="products-style" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{this.genre_ids}}</p>
      <p class="products-style" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{this.release_date}}</p>
      <p class="reyting" data-id='{{this.id}}' data-jsmodal='js-modal-onclick'>{{vote_average}}</p>
    </div>
  </li>
{{/each}}
